<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <title>Document</title>
</head>

<body>

    <body class="bg-white">
        <nav class="p-5 bg-slate-400 shadow md:flex md:items-center md:justify-between">
            <div class="flex justify-between items-center ">
                <span class="text-2xl font-[Poppins] cursor-pointer">
                    <img class="h-10 inline" src="../asset/el35_wcbo_211208.jpg">
                    tailwind
                </span>

                <span class="text-3xl cursor-pointer mx-2 md:hidden block">
                    <ion-icon name="menu" onclick="Menu(this)"></ion-icon>
                </span>
            </div>

            <ul
                class="md:flex md:items-center z-[-1] md:z-auto md:static absolute bg-slate-400 w-full left-0 md:w-auto md:py-0 py-4 md:pl-0 pl-7 md:opacity-100 opacity-0 top-[-400px] transition-all ease-in duration-500">
                <li class="mx-4 my-6 md:my-0">
                    <a href="#" class="text-xl hover:text-slate-600 duration-500">HOME</a>
                </li>
                <li class="mx-4 my-6 md:my-0">
                    <a href="#" class="text-xl hover:text-slate-600 duration-500">PEMBAYARAN</a>
                </li>
                <li class="mx-4 my-6 md:my-0 bg-slate-500 rounded-lg px-2 py-1">
                    <a href="#" class="text-xl duration-500">RIWAYAT PEMESANAN</a>
                </li>
                <li class="mx-4 my-6 md:my-0">
                    <a href="#" class="text-xl hover:text-slate-600 duration-500">LAHAN PEMAKAMAN</a>
                </li>
                <li class="mx-4 my-6 md:my-0">
                    <a href="#" class="text-xl hover:text-slate-600 duration-500">BLOG'S</a>
                </li>
            </ul>
        </nav>
        <form action="/admin/add-lahan-makam" method="post" enctype="multipart/form-data">
            <div class="mx-auto my-40 bg-slate-500 w-80 h-auto rounded-lg pt-5 px-10">
                <h1 class="font-bold text-center mb-5 ">Tambah Lahan Makam</h1>

                <label for="block" class="font-semibold">Kode Block</label>
                <select name="blockId" id="" class="rounded bg-gray-300 w-full px-1 py-1">
                    <% for(let i=0; i < block.length; i++){ %>
                        <option value="<%= block[i].id%>"><%= block[i].kode%></option>
                    <% } %>
                </select>

                <h1 class="font-semibold">Nomor</h1>
                <input type="text" name="number" placeholder="73000000000" class="rounded bg-gray-300 w-full px-1 py-1">
            
                <h1 class="font-semibold">Harga</h1>
                <input type="text" name="price" placeholder="agus suryadi" class="rounded bg-gray-300  w-full px-1 py-1">
            
                <h1 class="font-semibold">poto Lahan Makam</h1>
                <input type="file" name="photoGrounds" class="rounded bg-gray-300  w-full px-1 py-1">
            
                <button
                    class="bg-blue-600 my-5 w-20 h-7 rounded-lg text-cyan-50 font-semibold mx-20 hover:bg-blue-700 hover:font-bold"
                    type="submit">Tambah</button>
            </div>
        </form>
        <script>
            function Menu(e) {
                let list = document.querySelector('ul');
                e.name === 'menu' ? (e.name = "close", list.classList.add('top-[80px]'), list.classList.add('opacity-100')) : (e.name = "menu", list.classList.remove('top-[80px]'), list.classList.remove('opacity-100'))
            }
        </script>

    </body>

</html>