<%- include('../user/item/head.ejs') %>

<body class="bg-[url('https://wallpapercave.com/wp/wp3997619.jpg')]
bg-cover">

    <%- include('../admin/item/navbar.ejs') %>

        <h1 class="mt-10 text-3xl italic font-bold text-center md:mt-52 md:text-6xl text-slate-700">Selamat Datang </h1>
        <h1 class="my-5 text-3xl font-extrabold text-center uppercase text-slate-800 md:text-6xl">
            <%= name %>
        </h1>
        <h1 class="my-5 text-3xl italic font-bold text-center md:text-6xl text-slate-700">Di Pemakaman Islam Sudiang Makasaar</h1>

        <%- include('../user/item/javascript.ejs') %>
    </body>

</html>