<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <title>Document</title>
</head>

<body>

    <body class="bg-white">
        <nav class="p-5 bg-slate-400 shadow md:flex md:items-center md:justify-between">
            <div class="flex justify-between items-center ">
                <span class="text-2xl font-[Poppins] cursor-pointer">
                    <img class="h-10 inline" src="../asset/el35_wcbo_211208.jpg">
                    tailwind
                </span>

                <span class="text-3xl cursor-pointer mx-2 md:hidden block">
                    <ion-icon name="menu" onclick="Menu(this)"></ion-icon>
                </span>
            </div>

            <ul
                class="md:flex md:items-center z-[-1] md:z-auto md:static absolute bg-slate-400 w-full left-0 md:w-auto md:py-0 py-4 md:pl-0 pl-7 md:opacity-100 opacity-0 top-[-400px] transition-all ease-in duration-500">
                <li class="mx-4 my-6 md:my-0">
                    <a href="#" class="text-xl hover:text-cyan-500 duration-500">HOME</a>
                </li>
                <li class="mx-4 my-6 md:my-0">
                    <a href="#" class="text-xl hover:text-cyan-500 duration-500">PEMBAYARAN</a>
                </li>
                <li class="mx-4 my-6 md:my-0">
                    <a href="#" class="text-xl hover:text-cyan-500 duration-500">RIWAYAT PEMESANAN</a>
                </li>
                <li class="mx-4 my-6 md:my-0 px-1 bg-slate-500 rounded">
                    <a href="#" class="text-xl hover:text-cyan-500 duration-500">LAHAN PEMAKAMAN</a>
                </li>
                <li class="mx-4 my-6 md:my-0">
                    <a href="#" class="text-xl hover:text-cyan-500 duration-500">BLOG'S</a>
                </li>
            </ul>
        </nav>

        <h1 class="ml-5 mt-10 mb-3">Pemakaman</h1>
        <input type="text" placeholder="cari..." class="t-1 ml-5 block px-3 py-2 bg-white border border-slate-300 rounded-md text-sm shadow-sm placeholder-slate-400
          focus:outline-none focus:border-slate-500 focus:ring-1 focus:ring-slate-500
          disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none
          invalid:border-pink-500 invalid:text-pink-600
          focus:invalid:border-pink-500 focus:invalid:ring-pink-500">

        <div class="sm:flex sm:justify-between items-center bg-slate-500 px-4 py-6 h-auto my-8 mx-2 rounded">
            <div class="sm:flex sm:justify-between items-center">
                <img src="../asset/el35_wcbo_211208.jpg" alt="" class=" w-full sm:w-56 h-40 rounded mr-10">
                <div class="mt-4">
                    <h1 class="font-semibold">Blok&nbsp;&nbsp;&nbsp;&nbsp;: AB 156 </h1>
                    <h1 class="font-semibold">Status : Menunggu Pembayaran </h1>
                </div>
            </div>
            <button
                class="bg-blue-600 h-10 rounded w-20 items-center mt-3 hover:bg-blue-700 hover:font-bold text-white">
                <a href="/input-corpse-data/<%= lahanMakam[i].id%>/<%= lahanMakam[i].blok_id%>">Detail</a>
            </button>
        </div>


        <script>
            function Menu(e) {
                let list = document.querySelector('ul');
                e.name === 'menu' ? (e.name = "close", list.classList.add('top-[80px]'), list.classList.add('opacity-100')) : (e.name = "menu", list.classList.remove('top-[80px]'), list.classList.remove('opacity-100'))
            }
        </script>

    </body>

</html>