<form action="<%= path %>" method="get">
    <div class="relative w-auto">
        <div class="absolute inset-y-0 left-5 flex items-center pointer-events-none">
            <svg aria-hidden="true" class="w-5 h-5 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
            </svg>
        </div>
        <input type="search" name="search" id="default-search"
            class="ml-2 p-2 pl-10 text-sm border border-gray-300 rounded bg-white" placeholder="Cari Lahan Pemakaman..."
            >
        <button type="submit"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Cari</button>
    </div>
    <select name="blockId" aria-placeholder="aswar" class=" ml-2 mt-5 rounded bg-gray-300 md:w-full w-40 md:w-full px-2 py-1">
        <option value="">Pilih Blok</option>
        <% for(let i=0; i < blok.length; i++){ %>
            <option value="<%= blok[i].id%>">
                <%= blok[i].kode%>
            </option>
            <% } %>
    </select>
</form>