<form action="<%= path %>" method="get">
    <div class="relative w-auto">
        <div class="absolute inset-y-0 flex items-center pointer-events-none left-5">
            <svg aria-hidden="true" class="w-5 h-5 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
            </svg>
        </div>
        <input type="search" name="search" id="default-search"
            class="p-2 pl-10 ml-2 text-sm bg-white border border-gray-300 rounded" placeholder="Cari Pesanan..."
            >
        <button type="submit"
            class="px-4 py-2 text-sm font-medium text-white bg-blue-700 rounded hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Cari</button>
    </div>
    <select name="status" aria-placeholder="aswar" class="w-40 px-2 py-1 mt-5 ml-2 bg-gray-300 rounded ">
        <option value="">Status</option>
            <option value="Menunggu Pembayaran">
                Menunggu Pembayaran
            </option>
            <option value="Menunggu Validasi">
                Menunggu Validasi
            </option>
            <option value="Diterima">
                Diterima
            </option>
    </select>
    <select name="blockId" aria-placeholder="aswar" class="w-24 px-2 py-1 mt-5 ml-2 bg-gray-300 rounded ">
        <option value="">Blok</option>
        <% for(let i=0; i < blok.length; i++){ %>
            <option value="<%= blok[i].id%>">
                <%= blok[i].kode%>
            </option>
            <% } %>
    </select>
</form>