<nav class="p-5 mb-4 hadow m bg-slate-400 md:flex md:items-center md:justify-between">
    <div class="flex items-center justify-between ">
        <span class="text-2xl font-[Poppins] cursor-pointer">
            <img class="inline h-12"
                src="https://firebasestorage.googleapis.com/v0/b/web-d8acd.appspot.com/o/pis-logo.png?alt=media&token=617ac492-75e9-4053-9498-ce4c939b7d3d">
            ISLAM SUDIANG
        </span>

        <span class="block mx-2 text-3xl cursor-pointer md:hidden">
            <ion-icon name="menu" onclick="Menu(this)"></ion-icon>
        </span>
    </div>

    <ul
        class="md:flex md:items-center z-10 md:z-auto md:static absolute bg-white md:bg-slate-400 w-full left-0 md:w-auto md:py-0 py-4 md:pl-0 px-2 md:opacity-100 opacity-0 top-[-400px] transition-all ease-in duration-500">
        <li class="mx-4 my-6 md:my-0 <% if(menuActive === 'home') { %>
                    md:my-0 md:px-2 md:py-1 md:rounded mx-2 my-6 px-4 py-3 bg-slate-300 rounded-md md:bg-slate-500 %>
                    <% } %>">
            <a href="/admin/home" class="text-xl duration-500 hover:text-zinc-700">HOME</a>
        </li>
        <li class="mx-4 my-6 md:my-0 <% if(menuActive === 'payments') { %>
            md:my-0 md:px-2 md:py-1 md:rounded mx-2 my-6 px-4 py-3 bg-slate-300 rounded-md md:bg-slate-500 %>
            <% } %>">
            <a href="/admin/list-payments" class="text-xl duration-500 hover:text-zinc-700">PEMBAYARAN</a>
        </li>
        <li class="mx-4 my-6 md:my-0 <% if(menuActive === 'listOrder') { %>
            md:my-0 md:px-2 md:py-1 md:rounded mx-2 my-6 px-4 py-3 bg-slate-300 rounded-md md:bg-slate-500 %>
            <% } %>">
            <a href="/admin/list-order" class="text-xl duration-500 hover:text-zinc-700">DAFTAR PESANAN</a>
        </li>
        <li class="mx-4 my-6 md:my-0 <% if(menuActive === 'grounds') { %>
            md:my-0 md:px-2 md:py-1 md:rounded mx-2 my-6 px-4 py-3 bg-slate-300 rounded-md md:bg-slate-500 %>
            <% } %>">
            <a href="/admin/lahan-makam" class="text-xl duration-500">LAHAN PEMAKAMAN</a>
        </li>
        <li class="mx-4 my-6 md:my-0">
            <a href="/logout" class="text-xl duration-500 hover:text-zinc-700">KELUAR</a>
        </li>
    </ul>
</nav>