<%- include('./item/head.ejs') %>

<body class="bg-[url('https://firebasestorage.googleapis.com/v0/b/web-d8acd.appspot.com/o/area-pemakaman-umum-sudiang-di-kecamatan-biringkanaya.jpg?alt=media&token=79f1d1da-1ed9-4f97-82d4-544a0cfa59e9')]
bg-cover">

    <%- include('./item/navbar.ejs') %>

        <h1 class="mt-10 md:mt-52 text-center font-bold text-3xl md:text-6xl text-slate-700 italic">Selamat Datang </h1>
        <h1 class="text-slate-800 text-center font-extrabold text-3xl md:text-6xl my-5 uppercase">
            <%= name %>
        </h1>
        <h1 class="my-5 text-center font-bold text-3xl md:text-6xl text-slate-700 italic">Di Pemakaman Islam Sudiang Makasaar</h1>

        <%- include('./item/javascript.ejs') %>
    </body>

</html>