<%- include('./item/head.ejs') %>

<body class="bg-[url('https://firebasestorage.googleapis.com/v0/b/web-d8acd.appspot.com/o/area-pemakaman-umum-sudiang-di-kecamatan-biringkanaya.jpg?alt=media&token=79f1d1da-1ed9-4f97-82d4-544a0cfa59e9')]
bg-cover">

    <%- include('./item/navbar.ejs') %>

        <h1 class="mt-10 text-3xl italic font-bold text-center md:mt-52 md:text-6xl text-slate-700">Selamat Datang </h1>
        <h1 class="my-5 text-3xl font-extrabold text-center uppercase text-slate-800 md:text-6xl">
            <%= name %> 
        </h1>
        <h1 class="my-5 text-3xl italic font-bold text-center md:text-6xl text-slate-700">Di Pemakaman Islam Sudiang Makasaar</h1>

        <%- include('./item/javascript.ejs') %>
    </body>

</html>