<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <title>Document</title>
</head>

<body>

    <body class="bg-white">
        <% if(alert.message !='' ) { %>
            <%- include('./item/message.ejs') %>
                <% } %>

        <form action="" method="post">
            <div class="mx-auto my-40 bg-slate-500 w-80 h-auto rounded-lg pt-5 px-10">
                <h1 class="font-bold text-center mb-5 ">Daftar</h1>
            
                <h1 class="font-semibold"> Nomor NIK</h1>
                <input type="text" placeholder="73000000000" name="NIK" class="rounded bg-gray-300 w-full px-1 py-1">
            
                <h1 class="font-semibold">Email</h1>
                <input type="text" placeholder="contoh@gmail.com" name="email" class="rounded bg-gray-300 w-full px-1 py-1">
            
                <h1 class="font-semibold">Nama</h1>
                <input type="text" placeholder="agus suryadi" name="name" class="rounded bg-gray-300  w-full px-1 py-1">
            
                <h1 class="font-semibold">Kata Sandi</h1>
                <input type="password" name="password" class="rounded bg-gray-300  w-full px-1 py-1">
            
                <button
                    class="bg-blue-600 my-5 w-20 h-7 rounded-lg text-cyan-50 font-semibold mx-20 hover:bg-blue-700 hover:font-bold"
                    type="submit">Buat</button>
            </div>
        </form>

        <%- include('./item/javascript.ejs') %>

    </body>

</html>